#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.front {
    flex: 0 0 0;
    background-color: silver;
    margin-top: 20px;
}

img {
    object-fit: contain;
    width: 320px;
    height: 400px;
}