body {
    padding: 0;
    margin: 0;
    background: gray;
    overflow: hidden;
}

#contents {
    display: flex;
    flex-direction: row-reverse;
}

.page {
    font-size: 10px;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    vertical-align: bottom;
    user-select: none;
}

img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#progress-bar-container {
    position: relative;
    width: 80%;
    height: 6%;
    top: 50%;
    left: 10%;
    background: gray;
}

#progress-bar {
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    background: red;
}

#progress-scrubber {
    position: relative;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    bottom: 1em;
    right: 1em;
    background: red;
}

#progress-bar-cover {
    position: absolute;
    height: 1000%;
    width: 100%;
    top: -450%;
}

#page-indicator {
    position: relative;
    flex: 0 0 auto;
    background: aqua;
}

#thumb {
    position: absolute;
    height: 5vh;
    width: 5vh;
    bottom: 65%;
    background: gray;
}

#text-thumb {
    text-align: center;
}