<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>go-viewer</title>
</head>

<body>
    <div id="header" class="overlay">
        <p id="title"></p>
        <p id="pages"></p>
    </div>
    <div id="contents">
        <div id="p0" class="page"><img id="img-p0" class="loader" src="" alt=""></div>
    </div>
    <div id="footer" class="overlay">
        <div id="progress-bar-container">
            <div id="progress-bar">
                <div id="progress-scrubber"></div>
            </div>
            <div id="progress-bar-cover"></div>
        </div>
        <div id="thumb">
<!--            <img id="img-thumb" src="" alt="">-->
            <p id="text-thumb"></p>
        </div>
    </div>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/index2.css">
    <script type="text/javascript" src="/static/js/viewer.js"></script>
</body>

</html>